<?php
$config['db_dsnw'] = 'sqlite:////{{ roundcube_db_path }}/sqlite.db?mode=0646';
$config['default_host'] = 'localhost';
$config['support_url'] = '';
$config['des_key'] = '{{ des_key }}';
$config['product_name'] = '{{ domain }} webmail';
$config['plugins'] = [];