hosts = {{ ldap-server }}
ldap_version = 3
auth_bind = yes
dn = uid={{ ldap-dn-user }},{{ ldap-search-base }}
dnpass = secret
base = {{ ldap-search-base }}
scope = subtree
deref = never
user_filter = (&(objectClass=inetOrgPerson)(|(uid=%n)(mail=%u)))
pass_filter = (&(objectClass=inetOrgPerson)(|(uid=%n)(mail=%u)))
user_attrs = homeDirectory=home=/mnt/vmail/%d/%u,uidNumber=unset,gidNumber=unset
pass_attrs = userPassword=password
#debug_level = -1