version = 3
server_host = ldap://{{ ldap_server }}
search_base = {{ ldap_search_base }}
query_filter = (&(objectClass=inetorgperson)(mail=%s))
result_attribute = mail
scope = sub
bind = yes
bind_dn = uid={{ ldap_dn_user }},{{ ldap_search_base }}
bind_pw = {{ ldap_dn_pass }}
